<div class="container">

  <mat-toolbar>
    <span>Listado <b>Compras</b> </span>
    <button type="button" class="btn btn-outline-success ml-auto" (click)="addBuy()">Agregar</button>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z10">

    <!-- Position Column -->
    <ng-container matColumnDef="proveedor">
      <th mat-header-cell *matHeaderCellDef> <b>Nombre Proveedor</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.proveedor}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numeroDeFactura">
      <th mat-header-cell *matHeaderCellDef> <b>N° Factura</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.numeroDeFactura}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> <b>Fecha</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="producto">
      <th mat-header-cell *matHeaderCellDef> <b>Producto</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> <b>Valor</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" style="text-align: right">

        <a class="pointer" style="color: #1878b0;" matTooltip="Ver compra">
          <mat-icon>search</mat-icon>
        </a>

        <a class="pointer" style="color: #1f516f;" matTooltip="Editar compra">
          <mat-icon>edit</mat-icon>
        </a>

        <a class="pointer" (click)="deleteBuy(element)" style="color: #e15639;" matTooltip="Eliminar compra">
          <mat-icon>delete</mat-icon>
        </a>



      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>