

<main class="container">
     
     <div class="row text-center m-5 pt-5 justify-content-center">          
              <div>                             
                   <a routerLink="/empleados"><button type="button" class="btn btn-outline-dark m-1" >Empleados</button > </a>  
                   <a routerLink="/proveedores"><button type="button" class="btn btn-outline-dark m-1" >Proveedores</button > </a>   
                   <a routerLink="/compras"><button type="button" class="btn btn-outline-dark m-1" >Compras</button > </a>   
                   <a routerLink="/articulos"><button type="button" class="btn btn-outline-dark m-1" >Articulos</button > </a>   
                   <a routerLink=""><button type="button" class="btn btn-outline-dark m-1" >Stock</button > </a>                           
              </div>        
     </div>
</main>