<div mat-dialog-content class="m-0 p-0">
    <div class="dialog">
      <div class="dialog__header">
        <h3  class="text-center fz-32 mb-20 card-header bg-dark bg-gradient text-light sm-2">
          <strong> </strong>
        </h3>
      </div>
      <div class="dialog__body">
        <div class="text-center mb-20 ">
          
        </div>
                 <div class="card-footer">
                    <button type="button" class="btn btn-outline-success m-1">Registrar</button> 
                     <button type="button" class="btn btn-outline-danger">Limpiar</button>
      </div>
    </div>
  </div>