<main class="container">
    <div class="row-center">
        <div class="col-lg-5 col-md-6 col-12">

        </div>
        <div class="col-lg col-md col">
            <div class="card">
                <div class="card-header bg-dark bg-gradient text-light sm-2">
                    <span>Registrar <b>Compras</b> </span>
                </div> 
                <div class="card-body">
                    <div class="">
                        <label for="Proveedor-txt" class="form-label"><b>Proveedor:</b> </label>
                        <input type="text" placeholder="Ingrese el nombre del proveedor"
                        class="form-control" id="proveedor-txt"/>

                        <label for="Factura-txt" class="form-label"><b>N° Factura</b> </label>
                        <input type="text"  placeholder="Ingrese el numero de factura"
                        class="form-control" id="factura-txt"/>

                        <label for="Fecha-txt" class="form-label"><b>Fecha</b> </label>
                        <input type="date" placeholder="Ingrese la fecha"
                        class="form-control" id="fecha-txt"/>

                        <label for="Producto-txt" class="form-label"><b>Producto</b> </label>
                        <input type="text" placeholder="Ingrese el nombre del producto"
                        class="form-control" id="producto-txt"/>

                        <label for="Valor-txt" class="form-label"> <b>Valor</b></label>
                        <input type="number" placeholder="Ingrese sel valor del producto"
                        class="form-control" id="valor-txt"/>


                    </div>
            
                </div> 
                <div class="card-footer">
                      <button type="button" class="btn btn-outline-success m-1">Registrar</button> 
                      <button type="button" class="btn btn-outline-danger">Limpiar</button>
                      <button type="button" class="btn btn-outline-primary m-1 ml-auto" routerLink="/compras">Atrás </button>
                </div>
            </div>
        </div>
    
    </div>


</main>


