<div class="container">
  <div class="row">
    <div class="col">
      <h3>Si se gestiona adecuadamente una Base de Datos, podrás
        obtener excelentes ventajas. Ayuda a aumentar tu eficacia, haciendo que
        realices los trabajos con mayor rapidez y agilidad debido a la simplificación de
        los mismos. También podrás mejorar la seguridad de tus datos almacenados. Gracias a
        estos factores, maximizarás tus tiempos y por tanto, se producirá una mejora en la productividad.</h3>

    </div>
  </div>

</div>
