<div class="container">
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet blanditiis consequuntur eius excepturi
        exercitationem expedita impedit ipsum magnam nisi odio, porro provident quam quasi quis sed temporibus totam
        veniam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facilis modi porro voluptates. A corporis
        dolor
        ea, excepturi illum labore minima minus molestiae nisi nobis quas quibusdam, vero voluptate voluptates!</p>
    </div>
  </div>

</div>
