<div mat-dialog-content class="m-0 p-0">
    <div class="dialog">
        <div class="dialog__header">
            <h3 class="text-center fz-32 mb-20 card-header bg-dark bg-gradient text-light sm-2">
                <strong>Ingresar Articulo</strong>
            </h3>
        </div>
        <form class="dialog__body" [formGroup]="form" (submit)="saveForm()">
            <div class="w3-left-align">

                <label for="nombreproveedor-txt" class="form-label mt-2"> <b>Nombre Proveedor:</b> </label>
                <select formControlName="nombreproveedor" type="text" placeholder="Ingrese el nombre del proveedor"
                    class="form-control" id="nombreproveedor-txt">
                    <option>Diego Suarez</option>
                </select>

                <label for="numerofactura-txt" class="form-label mt-2"> <b>N° Factura:</b> </label>
                <select formControlName="numerofactura" type="text" placeholder="Ingrese el numero de factura"
                    class="form-control" id="numerofactura-txt">
                    <option>Diego Suarez</option>
                </select>

                <label for="nombreempleado-txt" class="form-label mt-2"> <b>Nombre:</b> </label>
                <select formControlName="nombreempleado" type="text" placeholder="Funcionario que realiza la compra"
                    class="form-control" id="nombreempleado-txt">
                    <option>Diego Suarez</option>
                </select>

                <label for="nombrearticulo-txt" class="form-label mt-2"><b>Articulo:</b> </label>
                <input formControlName="nombrearticulo" type="text" placeholder="Ingrese el nombre del articulo"
                    class="form-control" id="nombrearticulo-txt" />

                <label for="precioarticulo-txt" class="form-label mt-2"> <b>Valor:</b></label>
                <input formControlName="precioarticulo" type="number" placeholder="Ingrese sel valor del producto"
                    class="form-control" id="precioarticulo-txt" />

                <label for="codigoarticulo-txt" class="form-label mt-2"> <b>Codigo Articulo:</b></label>
                <input formControlName="codigoarticulo" type="number" placeholder="Ingrese el codigo del articulo"
                    class="form-control" id="codigoarticulo-txt" />

                <label for="cantidadarticulo-txt" class="form-label mt-2"> <b>Cantidad:</b></label>
                <input formControlName="cantidadarticulo" type="number" placeholder="Ingrese la cantidad de articulos"
                    class="form-control" id="cantidadarticulo-txt" />

            </div>
            <div class="row mt-2">
                <div class="col-lg-4 mb-2">
                    <button type="submit" class="btn btn-outline-success btn-block"
                        [disabled]="form.invalid">Registrar</button>

                </div>
                <div class="col-lg-4 mb-2">
                    <button type="button" class="btn btn-outline-danger btn-block"
                        (click)="form.reset()">Limpiar</button>
                </div>
                <div class="col-lg-4 mb-2">
                    <button type="button" class="btn btn-outline-danger btn-block"
                        (click)="closeDialog(false)">Cerrar</button>
                </div>
            </div>
        </form>
    </div>