<main class="container">

    <div class="row text-center m-5 pt-5 justify-content-center">
        <div>
            <a routerLink="/empleados"><button type="button" class="btn btn-outline-primary m-1">Empleados</button> </a>
            <a routerLink="/proveedores"><button type="button"
                    class="btn btn-outline-danger m-1">Proveedores</button></a>
            <a routerLink="/compras"><button type="button" class="btn btn-outline-success m-1">Compras</button> </a>
            <a routerLink="/articulos"><button type="button" class="btn btn-outline-info m-1">Articulos</button> </a>
            <a routerLink="/stock"><button type="button" class="btn btn-outline-warning m-1">Stock</button> </a>
        </div>
    </div>
</main>