<div class="container">

  <mat-toolbar>
    <span><b>Stock</b> </span>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="table-striped mat-elevation-z10">

    <ng-container matColumnDef="producto">
      <th mat-header-cell *matHeaderCellDef> <b>Producto</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
    </ng-container>

    <ng-container matColumnDef="codigoarticulo">
      <th mat-header-cell *matHeaderCellDef> <b>Codigo</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.codigoarticulo}} </td>
    </ng-container>


    <ng-container matColumnDef="cantidadInicial">
      <th mat-header-cell *matHeaderCellDef> <b>Cantidad</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidadInicial}} </td>
    </ng-container>

    <ng-container matColumnDef="precioarticulo">
      <th mat-header-cell *matHeaderCellDef> <b>Valor</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.precioarticulo}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" style="text-align: right">

        <a class="pointer" style="color: #1878b0;" matTooltip="Descargar articulo"
          (click)="onDonwload(element.codigoarticulo)">
          <mat-icon>get_app</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
