<main class="container">
    <div class="row-center">
        <div class="col-lg-5 col-md-6 col-12">

        </div>
        <div class="col-lg col-md col">
            <div class="card">
                <div class="card-header bg-dark bg-gradient text-light sm-2">
                    <span>Registrar <b>Proveedores</b> </span>
                </div> 
                <div class="card-body">
                    <div class="">
                        <label for="nit-txt" class="form-label"><b>Nit:</b> </label>
                        <input type="number" placeholder="Ingrese el numero de nit"
                        class="form-control" id="nit-txt"/>

                        <label for="razonsocial-txt" class="form-label"><b>Razón Social</b> </label>
                        <input type="text"  placeholder="Ingrese nombre de la razon social"
                        class="form-control" id="razonsocial-txt"/>

                        <label for="dirección-txt" class="form-label"><b>Dirección</b> </label>
                        <input type="text" placeholder="Ingrese la dirección de la empresa"
                        class="form-control" id="dirección-txt"/>

                        <label for="email-txt" class="form-label"><b>Email</b> </label>
                        <input type="email" placeholder="Ingrese el correo de contacto"
                        class="form-control" id="email-txt"/>

                        <label for="telefono-txt" class="form-label"> <b>Telefono</b></label>
                        <input type="tel" placeholder="Ingrese el numero de telefono"
                        class="form-control" id="telefono-txt"/>


                    </div>
            
                </div> 
                <div class="card-footer">
                      <button type="button" class="btn btn-outline-success m-1">Registrar</button> 
                      <button type="button" class="btn btn-outline-danger">Limpiar</button>
                      <button type="button" class="btn btn-outline-primary m-1 ml-auto" routerLink="/proveedores">Atrás </button>
                </div>
            </div>
        </div>
    
    </div>


</main>

