<div class="container">

  <mat-toolbar>
    <span>Listado <b>Empleados</b> </span>

    <button type="button" class="btn btn-outline-success ml-auto" (click)="addBuy()">Agregar</button>



  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z10">

    <!-- Position Column -->
    <ng-container matColumnDef="administrador">
      <th mat-header-cell *matHeaderCellDef> <b>Interventor</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.administrador}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cedulaEmpleado">
      <th mat-header-cell *matHeaderCellDef> <b>Cedula</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.cedulaEmpleado}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nombreEmpleado">
      <th mat-header-cell *matHeaderCellDef> <b>Nombre</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreEmpleado}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="apellidoEmpleado">
      <th mat-header-cell *matHeaderCellDef> <b>Apellido</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidoEmpleado}} </td>
    </ng-container>

    <ng-container matColumnDef="telefonoEmpleado">
      <th mat-header-cell *matHeaderCellDef> <b>Telefono</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.telefonoEmpleado}} </td>
    </ng-container>

    <ng-container matColumnDef="cargoEmpleado">
      <th mat-header-cell *matHeaderCellDef> <b>Cargo</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.cargoEmpleado}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" style="text-align: right">

        <a class="pointer" style="color: #1878b0;" matTooltip="Ver Empleado">
          <mat-icon>search</mat-icon>
        </a>

        <a class="pointer" style="color: #1f516f;" matTooltip="Editar Empleado">
          <mat-icon>edit</mat-icon>
        </a>

        <a class="pointer" (click)="deleteBuy(element)" style="color: #e15639;" matTooltip="Eliminar Empleado">
          <mat-icon>delete</mat-icon>
        </a>



      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>