
<main class="container">
    <div class="row-center">
        <div class="col-lg-5 col-md-6 col-12">

        </div>
        <div class="col-lg col-md col">
            <div class="card">
                <div class="card-header bg-dark bg-gradient text-light sm-2">
                    <span>Registrar <b>Empleado</b> </span>
                </div> 
                <div class="card-body">
                    <div class="">
                        <label for="cedula-txt" class="form-label"><b>Cedula</b> </label>
                        <input type="text" placeholder="Ingrese su documento de identidad"
                        class="form-control" id="cedula-txt"/>

                        <label for="nombre-txt" class="form-label"><b>Nombre</b> </label>
                        <input type="text"  placeholder="Ingrese su nombre"
                        class="form-control" id="nombre-txt"/>

                        <label for="cedula-txt" class="form-label"><b>Apellido</b> </label>
                        <input type="text" placeholder="Ingrese su documento de identidad"
                        class="form-control" id="cedula-txt"/>

                        <label for="dirección-txt" class="form-label"><b>Dirección</b> </label>
                        <input type="text" placeholder="Ingrese la dirección de su casa"
                        class="form-control" id="dirección-txt"/>

                        <label for="email-txt" class="form-label"><b>Email</b> </label>
                        <input type="email" placeholder="Ingrese su correo"
                        class="form-control" id="email-txt"/>

                        <label for="telefono-txt" class="form-label"> <b>Telefono</b></label>
                        <input type="tel" placeholder="Ingrese su numero de telefono"
                        class="form-control" id="telefono-txt"/>

                        <label for="rh-txt" class="form-label"><b>Grupo Sanguineo</b> </label>
                        <input type="text" placeholder="Ingrese su tipo de sangre"
                        class="form-control" id="rh-txt"/>

                    </div>
            
                </div> 
                <div class="card-footer">
                      <button type="button" class="btn btn-outline-success m-1">Registrar</button> 
                      <button type="button" class="btn btn-outline-danger">Limpiar</button>
                      <button type="button" class="btn btn-outline-primary m-1 ml-auto" routerLink="/empleados">Atrás </button>
                </div>
            </div>
        </div>
    
    </div>


</main>
