<main class="container">
    <div class="row-center">
        <div class="col-lg-5 col-md-6 col-12">

        </div>
        <div class="col-lg col-md col">
            <div class="card">
                <div class="card-header bg-dark bg-gradient text-light sm-2">
                    <span>Registrar <b>Proveedores</b> </span>
                </div> 
                <div class="card-body">
                    <div class="">
                        <label for="referencia-txt" class="form-label"><b>Referencia</b> </label>
                        <input type="text" placeholder="Ingrese el nombre del articulo"
                        class="form-control" id="referencia-txt"/>

                        <label for="valor-txt" class="form-label"><b>Valor</b> </label>
                        <input type="number"  placeholder="Ingrese el valor"
                        class="form-control" id="valor-txt"/>

                        <label for="cantidad-txt" class="form-label"><b>Cantidad</b> </label>
                        <input type="number" placeholder="Ingrese la cantidad comprada"
                        class="form-control" id="cantidad-txt"/>

                        <label for="codigo-txt" class="form-label"><b>Codigo</b> </label>
                        <input type="text" placeholder="Ingrese el codigo del articulo"
                        class="form-control" id="codigo-txt"/>

                        <label for="numerofactura-txt" class="form-label"> <b>N° Factura</b></label>
                        <input type="text" placeholder="Ingrese el numero de factura"
                        class="form-control" id="numerofactura-txt"/>


                    </div>
            
                </div> 
                <div class="card-footer">
                      <button type="button" class="btn btn-outline-success m-1">Registrar</button> 
                      <button type="button" class="btn btn-outline-danger">Limpiar</button>
                      <button type="button" class="btn btn-outline-primary m-1 ml-auto" routerLink="/articulos">Atrás </button>
                </div>
            </div>
        </div>
    
    </div>


</main>




