<div class="container">

  <mat-toolbar>
    <span>Listado <b>Articulos</b> </span>
    <button type="button" class="btn btn-outline-success ml-auto" (click)="addBuy()">Agregar</button>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z10">

    cantidadarticulo: string;
    precioarticulo: string;


    <ng-container matColumnDef="nombreproveedor">
      <th mat-header-cell *matHeaderCellDef> <b>Proveedor</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreproveedor}} </td>
    </ng-container>

    <ng-container matColumnDef="numerofactura">
      <th mat-header-cell *matHeaderCellDef> <b>N° Factura</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.numerofactura}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="producto">
      <th mat-header-cell *matHeaderCellDef> <b>Producto</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
    </ng-container>


    <ng-container matColumnDef="codigoarticulo">
      <th mat-header-cell *matHeaderCellDef> <b>Referencia</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.codigoarticulo}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidadarticulo">
      <th mat-header-cell *matHeaderCellDef> <b>Cantidad</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidadarticulo}} </td>
    </ng-container>


    <ng-container matColumnDef="precioarticulo">
      <th mat-header-cell *matHeaderCellDef> <b>Costo Und</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.precioarticulo}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" style="text-align: right">

        <a class="pointer" style="color: #1878b0;" matTooltip="Ver compra">
          <mat-icon>search</mat-icon>
        </a>

        <a class="pointer" style="color: #1f516f;" matTooltip="Editar compra">
          <mat-icon>edit</mat-icon>
        </a>

        <a class="pointer" (click)="deleteBuy(element)" style="color: #e15639;" matTooltip="Eliminar compra">
          <mat-icon>delete</mat-icon>
        </a>


      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>